@import "tailwindcss";

.app {
    font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    background-color: #fff;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
}

.nav-item {
    @apply px-2;
}

.nav-link {
    @apply text-black;
}

.box-image {
    @apply flex justify-center;
}
.title-wrapper {
    @apply text-justify;
}
.price-wrapper {
    @apply flex justify-center;
}
